<ion-view view-title="Chain Reaction">
  <ion-content class="padding">
    <center><h4><u>How to play</u>  </h4></center>
    <div class="list">
      <a class="item item-icon-left item-text-wrap" href="#">
        <i class="icon ion-ios-color-filter"></i>
        Create a game or join with a valid game ID
      </a>
      <a class="item item-icon-left item-text-wrap" href="#">
        <i class="icon ion-ios-color-filter-outline"></i>
        Tap an empty cell or cell that contain orbs of your color to create orbs
      </a>
      <a class="item item-icon-left item-text-wrap" href="#">
        <i class="icon ion-ios-color-filter"></i>
        <b>Corners</b> can hold at max 1 orb, beyond which the orbs split and claim the adjacent cells
      </a>
      <a class="item item-icon-left item-text-wrap" href="#">
        <i class="icon ion-ios-color-filter-outline"></i>
        <b>Edges</b> & <b>Inner cells</b> can hold at max 2 orbs and 3 orbs respectively, beyond which they split
      </a>
      <a class="item item-icon-left item-text-wrap" href="#">
        <i class="icon ion-ios-color-filter"></i>
        Eliminate your friend's orbs to win the game
      </a>
    </div>
  </ion-content>
</ion-view>